<h2><%= @user.name %></h2>
<% @user.courses.each.with_index do |course, index| %>
    <%= link_to "/courses/#{course.id}", :action => 'go' do %>
        <div class="course">
            <p>
                Course: <%= course.code %> <br/>
                Name: <%= course.name %> <br/>
            </p>
        </div>
    <% end %>
    
<% end %>

<% if @user.is_student == false %>
    <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Create Course</button>
    <div>    
        <%= form_tag({:action => 'course'}) do %>
        <%= label_tag(:q, "Course Code:") %>
        <%= text_field_tag(:q) %>
        <%= label_tag(:r, "Course Name:") %>
        <%= text_field_tag(:r) %>
        <%= submit_tag("Submit") %>
        <% end %>
    </div>
<% end %>

