<div style='text-align: center;'>
    <h2><%= @user.name %></h2>
</div>
<div class='row'>
    <div class='col'>
    </div>
    <div class='col-5'>
        <% @user.courses.each.with_index do |course, index| %>
            <% on_team = false %>
            <% team_id = 99999999 %>
            <% course.teams.each do |team| %>
                <% if !team.users.where(id: current_user.id).empty? %>
                    <% on_team = true %>
                    <% team_id = team.id %>
                <% end %>
            <% end %>
            <% if on_team && current_user.is_student %>
                <%= link_to "/teams/#{team_id}/message_board", :action => 'go' do %>
                    <div class="course">
                        <p>
                            Course: <%= course.code %> <br/>
                            Name: <%= course.name %> <br/>
                        </p>
                    </div>
                <% end %>
            <% else %>
                <%= link_to "/courses/#{course.id}", :action => 'go' do %>
                    <div class="course">
                        <p>
                            Course: <%= course.code %> <br/>
                            Name: <%= course.name %> <br/>
                        </p>
                    </div>
                <% end %>
            <% end %>    
        <% end %>

        <% if @user.is_student == false %>
            <%= link_to "/courses/new", :action => 'go' do %>
                <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Create Course</button>
            <% end %>    
            <%= link_to "/courses", :action => 'go' do %>
                <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">All Courses</button>
            <% end %>  
        <% end %>
    </div>
    <div class='col'>    
    </div>
</div>

