
<!-- Above old -->
<div class="row">
  <div class="col-sm"></div>
  <div id="left" class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <h4 class="card-title" style="color: #FF250D;">Sign Up</h4>
          <ul id="signup"> 

            <li><%= f.text_field :name, autocomplete: "name", placeholder:"Name", autofocus: true, class: "form-control" %></li>
            <li><%= f.text_field :identification_number, autofocus: true, autocomplete: "########", placeholder:"#######", class: "form-control" %></li>            
             
            <li><%= f.select(:is_student, options_for_select([["Student", 1], ["Instructor", 0]], 1), {}, {:class => "form-control"}) %></li>
            <li><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %></li>
            <li><%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %></li>
            <li><%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-control" %></li>
            <li><%= f.submit "Sign up", class: "btn btn-danger" %></li>   

          </ul>
        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
  <div class="col-sm"></div>
</div>
 