<div class="card">
    <div class="card-body">
        <h3>Create New Task</h3>
        <%= form_for @task, :url => "/teams/#{params[:team_id]}/tasks/#{params[:id]}" do |f| %>
            <%= f.text_field(:title, placeholder:"Title", class:"form-control") %> <br>
            
            <%= f.text_area(:description, placeholder:"Description", class:"form-control") %> <br>

            <%= label_tag "Deadline: " %>
            <%= f.date_select(:deadline, include_blank: true) %> <br><br>

            <%= label_tag "Priority: " %>
            <%= f.select :priority, options_for_select([["1"], "2", "3", "4", "5"]), :class => 'genForm_dropBox' %> <br><br>
            <%= select_tag :user_id, options_from_collection_for_select(@team.users, 'id', 'name') %> <br><br>
            
            <%= f.submit "Modify Task", class: "btn btn-danger"  %>
        <% end %>
    </div>
</div>