<div class = "center-div">
    <h1 class="title-div">
        All Courses
    </h1>
    <% @courses.each do |course| %>

        <div class="card">
            <div class="card-body">
                <p>
                    <div class="course-full">
                        <h4>
                            Name: <%= course.name %>    |    Course: <%= course.code %>
                        </h4>
                    </div>
                    <div class="course-update">
                        <%= form_for course, :url => add_student_path(course.id) do |f| %>
                            <%= f.label(:add_student) %>
                            <%= select_tag :student_id, options_from_collection_for_select(User.where(is_student: true), 'id', 'name') %>
                            <%= f.submit "Update Student", class: "btn btn-danger", style: "background-color: green; border-color: green;" %><br>
                        <% end %>
                    </div>
                    <div class="course-update">
                        <%= form_for course, :url => add_student_path(course.id) do |f| %>
                            <%= f.label(:add_instructor) %>
                            <%= select_tag :student_id, options_from_collection_for_select(User.where(is_student: false), 'id', 'name') %>
                            <%= f.submit "Update Instructor", class: "btn btn-danger", style: "background-color: green; border-color: green;" %>
                        <% end %>
                    </div>
                </p>
            </div>
        </div>

    <% end %>
</div>
