<h1 style="text-align: center"><%=@team.name%> Message Board</h1>

<% if @message_board.messages.length == 0 %>
    This message board has no messages yet. Create a new one below.
<% end %>

<div class="row">
    <div id="left" class="col-sm">
        <div class="card">
            <div class="card-body">
                <h3>Create New Message</h3>
                <%= form_for @message, :url => create_message_path(params[:id]) do |f| %>
                    <%= f.select :priority, options_for_select([["Priority", ""], 1,2,3,4,5], class:"form-control") %><br>
                    <br/>
                    <%= f.text_field(:title, placeholder:"Title", class:"form-control") %> <br>
                    
                    <%= f.text_area(:content, placeholder:"Content", class:"form-control") %> <br>
                    
                    <%= f.submit "Create Message", class: "btn btn-danger"  %>
                <% end %>
            </div>
        </div>
    </div>
    <div id="right" class="col-sm-6">
        <% @message_board.messages.last(@message_board.number_stored).each_with_index do |message, index| %>
            
            <div class="card">
                <div class="card-body">
                    <h3><%= message.title %></h3>
                        <h5>
                            Priority: <%= message.priority %>
                        </h5>    
                        <p>
                            <%= message.content %> <br/><br/>
                            Post Date: <%= message.post_date %> <br/>
                            Created By: <%= message.name %>
                        </p>
                </div>
            </div>
                
        <% end %>
    </div>
    <div class="col-sm"></div>
</div>

<% if @team.errors.full_messages.present? %>
	<ul>
		<% @team.errors.full_messages.each do |error| %>
			<li>
				<%= error %>
			</li>
		<% end %>
	</ul>
<% end %> 